/* override bootstrap css */
body { padding-bottom: 40px; font-size: 12px; } /*width: 980px; margin: 0 auto;*/
a { color: #000000; }
dl { margin: 0; }
form { margin: 0 }
hr { margin: 10px 0; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { font-size: 12px; padding: 2px 6px; }
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu,.input-prepend .dropdown-menu { font-size: 12px; }
.input-append, .input-prepend { margin-bottom: 0px; }
label, input, button, select, textarea { font-size: 12px; }
select, input[type="file"] { height: 25px; *margin-top: 4px; line-height: 25px; }

.btn { line-height: 15px; }

.table { margin-bottom: 0; }
.table-condensed th, .table-condensed td { padding: 4px 2px; }
.nav { margin-bottom: 0; }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover { background-color: #c2cf90; }
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color: #c2cf90; }
.navbar { margin-bottom: 0; }
.navbar .nav > li > a { text-shadow: none; }

.alert-success { background-color: #e6efc2; }
.alert-error { background-color: #fbe3e4; }
.alert-info { background-color: #d5edf8; }
.alert-notice { background-color: #fff6bf; }

.ui-widget-header { background: #c2cf90; }
.ui-widget-content { background: #e6efc2; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #298a08; }

.modal-body { padding: 0;}
.modal-footer { background-color: #c2cf90; }

/* custom css */
ul.nav-ua { list-style-type: none !important; margin: 0; padding: 0; }
ul.nav-ua li { display: inline; margin: 0; padding: 0; width: 1px; }
ul.clean { list-style-type: none !important; margin: 0; padding: 0; }
thead th { background: #c2cf90 !important; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.header-middle { position: relative; margin: 0 auto; width: 500px; height: 192px; background-repeat: no-repeat; }
.header-middle-menu { position: relative;  width: 500px; height: 192px; }
#header-middle-menu-item { padding: 10px; }
#header-middle-menu-item div.jqDockWrap { margin: 0 auto; }
#header-middle-menu-item div.jqDock { cursor:pointer; }
div.jqDockLabel { bottom: -15px !important; padding: 0; white-space: nowrap; font-weight: bold; color: #000000; cursor: pointer; }

.span-header-left { position: relative; width: 454px; height: 192px; background-repeat: no-repeat; }
.span-header-right { position: relative; width: 446px; height: 192px; background-repeat: no-repeat; }
.span-content-left { width: 133px; }
.span-content-middle { width: 634px; }
.span-content-right { width: 133px; }

.span-profile-row1 { width: 155px !important; margin-left: 25px !important; }
.span-profile-row2 { width: 135px !important; }
.span-tribe-row1 { width: 155px !important; margin-left: 25px !important; }
.span-tribe-row2 { width: 135px !important; }
.span-tribesmall-row1 { width: 85px !important; margin-left: 25px !important; }
.span-tribesmall-row2 { width: 135px !important; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.ua-box { background-repeat: repeat; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 0px 5px 8px; margin-bottom: 10px !important; }
.ua-box-header { color: #FFFFFF; line-height: 20px; text-align: center; font-weight: bold; }
.ua-box-content { margin: 0 auto; text-align: left; background: #E6EFC2; }
.ua-box-center { display: inline-block; margin-left: auto; margin-right: auto; }
.ua-box-space { padding: 5px; }
.ua-box-fix { width: 634px; margin: 0 auto; }

td.date { width: 125px; text-align: right; }
td.build { width: 47px; text-align: right; }
td.build-no-build { width: 110px; }
td.build-single { width: 25px; text-align: right; }
td.build-unit { width: 85px; text-align: right; }
td.countdown { width: 75px; text-align: right; }
td.message-icons { width: 50px; }
td.message-icon { width: 20px; }
td.mini-img { width: 32px; }
td.move-max { width: 70px; }
td.move-name { width: 160px; }
td.move-unit { width: 75px; }
td.switch { width: 16px; }
td.time { width: 75px; text-align: right; }
td.time-lvl { width: 105px; text-align: center; }

tr.digest-artefact { background-color: #9cf; }
tr.digest-building { background-color: #CCFFCC; }
tr.digest-defense { background-color: #FFFFFF; }
tr.digest-science { background-color: #FFCC99; }
tr.digest-unit { background-color: #CCFF99; }

tr.digest-mov-1 {background-color: #CCFF99; }
tr.digest-mov-2 {background-color: #CCFF99; }
tr.digest-mov-3 {background-color: #FFCC99; }
tr.digest-mov-4 {background-color: #FFCC99; }
tr.digest-mov-5 {background-color: #FFFFFF; }
tr.digest-mov-6 {background-color: #FFCC99; }

.t_self { border: 1px solid green !important; }
.t_own_relation_1 { border: 1px dotted red !important; } /* Ulti */
.t_own_relation_2 { border: 1px solid red !important; } /* Krieg */
.t_own_relation_3 { border: 1px solid transparent !important; } /* Kapitulation */
.t_own_relation_4 { border: 1px solid transparent !important; } /* Besatzung */
.t_own_relation_6 { border: 1px solid blue !important; }  /* NAP */
.t_own_relation_7 { border: 1px solid green !important; } /* Bündnis */
.t_own_relation_8 { border: 1px dotted green !important; } /* Knüppelbündnis */
.t_other_relation_1 { border: 1px dotted red !important; } /* Ulti */
.t_other_relation_2 { border: 1px solid red !important; } /* Krieg */
.t_other_relation_3 { border: 1px solid transparent !important; } /* Kapitulation */
.t_other_relation_4 { border: 1px solid transparent !important; } /* Besatzung */
.t_other_relation_6 { border: 1px solid blue !important; }  /* NAP */
.t_other_relation_7 { border: 1px solid green !important; } /* Bündnis */
.t_other_relation_8 { border: 1px dotted green !important; } /* Knüppelbündnis */

.form-horizontal .tribe { margin-left: 105px; }
.form-horizontal .tribe-label { width: 100px; }

.form-horizontal .profile { margin-left: 105px; }
.form-horizontal .profile-label { width: 100px; }

.form-horizontal .message { margin-left: 55px; }
.form-horizontal .message-label { width: 50px; }

.input-wonder-xy { width: 20px; }
.input-unit { width: 70px; }
.input-resource { width: 70px; }
.input-move-cave { width: 185px; }
.input-move-select { width: 200px; }
.input-move-xy { width: 75px; }

.abort, .arrow_max, .arrow_up, .flash { background-repeat: no-repeat;  width: 25px; height: 25px; cursor: pointer; background-color: transparent; border: none; }

.btn-transparent { background-color: transparent; background-image: none; border: none; }
.btn-icon { width: 20px; padding: 0; margin: 0; }

.bg0 { background-color: #eee }
.less { color:#ff0000; }
.space { padding: 5px 0 }
.nospace { padding: 0 !important; margin: 0 !important; }

.msg_0 { background-color: #fff; } /* Information */
.msg_2 { background-color: #fc9; } /* Sieg */
.msg_6 { background-color: #cf9; } /* Handelsbericht */
.msg_7 { background-color: #ff9; } /* RÃƒÂ¼ckkehr */
.msg_8 { background-color: #cfc; } /* Stammesnachricht */
.msg_9 { background-color: #9cf; } /* Wunder */
.msg_10 { background-color: #FFFFFF; } /* Benutzernachricht */
.msg_11 { background-color: #fc9; } /* Spionage */
.msg_12 { background-color: #9cf; } /* Artefakt */
.msg_20 { background-color: #fc9; } /* Niederlage */
.msg_29 { background-color: #fff; } /* Missionierung */
.msg_99 { background-color: #ccc; } /* Uga-Agga Team */
.msg_1001 { background-color: #fff; } /* ANKÃœNDIGUNG */
.msg_read0 a { background-repeat: no-repeat; font-weight: bold; }

.secureCavebold, .secureCave-bold:visited, .secureCave-bold1:visited { font-weight: bold; color: #000; }
.secureCave-bold1, .secureCave-1:visited, .secureCave-1 { font-weight: bold; color: #b8860b; }
.unsecureCave-bold, .unsecureCave-bold:visited { font-weight: bold; color: #FF00FF; }
.secureCave- { color: #080; }
.unsecureCave-, .unsecureCave-:visited { color: #FF00FF; }

#jappix_mini div.jm_actions a.jm_pin {right: 25px;}

.unsecure { color: #FF00FF !important; }